<?xml version="1.0"?>
<configuration>

	<configSections>
		<!-- DAAB 4.1.0.0 -->
		<section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data" />

		<!-- Castle.Windsor를 이용한 IoC 를 사용한다. -->
		<section name="castle" type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler, Castle.Windsor"/>
		<section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>

		<!-- indexusNetSharedCache : http://www.sharedcache.com -->
		<section name="indexusNetSharedCache" type="SharedCache.WinServiceCommon.Configuration.Client.IndexusProviderSection, SharedCache.WinServiceCommon"/>
	</configSections>

	<!-- Castle 과 NHibernate 버전 불일치 -->
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<!-- Castle -->
			<dependentAssembly>
				<assemblyIdentity name="Castle.Core" publicKeyToken="407dd0808d44fbdc"/>
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Castle.Windsor" publicKeyToken="407dd0808d44fbdc"/>
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
			</dependentAssembly>

			<!-- NHibernate -->
			<dependentAssembly>
				<assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4"/>
				<bindingRedirect oldVersion="1.0.0.0-3.2.1.4000" newVersion="3.2.1.4000"/>
			</dependentAssembly>

			<!-- NHibernate -->
			<dependentAssembly>
				<assemblyIdentity name="nunit.framework" publicKeyToken="96d09a1eb7f44a77"/>
				<bindingRedirect oldVersion="1.0.0.0-2.5.10.11092" newVersion="2.5.10.11092"/>
			</dependentAssembly>
		</assemblyBinding>

		<!-- NOTE: NHibernate용 Devart.Data.Oracle Driver를 사용하기 꼭 정의해주어야 합니다!!! -->
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Devart.Data.Oracle" publicKeyToken="09af7300eec23701" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-6.70.293.0" newVersion="6.70.293.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Devart.Data" publicKeyToken="09af7300eec23701" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-5.0.327.0" newVersion="5.0.327.0"/>
			</dependentAssembly>
			<!--<qualifyAssembly partialName="Devart.Data.Oracle" fullName="Devart.Data.Oracle, Version=6.70.293.0, Culture=neutral, PublicKeyToken=09af7300eec23701" />-->
		</assemblyBinding>
	</runtime>


	<dataConfiguration defaultDatabase="NAccessTest">
		<providerMappings>
			<add name="Devart.Data.Oracle" databaseType="NSoft.NFramework.Data.DevartOracle.EnterpriseLibrary.OracleDatabase, NSoft.NFramework.Data.DevartOracle"/>
		</providerMappings>
	</dataConfiguration>

	<appSettings>
		<!-- NHibernate에서 NLog를 logger로 사용할 경우 -->
		<add key="nhibernate-logger" value="NSoft.NFramework.Data.NHibernateEx.NLogFactory, NSoft.NFramework.Data.NHibernateEx"/>
	</appSettings>

	<connectionStrings>
		<!-- SQL Server -->
		<add name="NAccess" connectionString="Data Source=(local);Initial Catalog=NAccess; Integrated Security=SSPI;Asynchronous Processing=true;" providerName="System.Data.SqlClient"/>
		<add name="NAccessTest" connectionString="Data Source=(local);Initial Catalog=NAccessTest; Integrated Security=SSPI;Asynchronous Processing=true;" providerName="System.Data.SqlClient"/>

		<!-- Oracle -->
		<add name="LOCAL_XE"
			providerName="Devart.Data.Oracle"
			connectionString="User Id=NAccess;Password=NAccess;Server=localhost;Sid=xe;Port=1521;Direct=true;" />

	</connectionStrings>

	<castle>
		<include uri="file://NAccess.IoC.config"/>
	</castle>

	<nlog autoReload="true">
		<include file="logging.nlog.xml" />
	</nlog>

	<!-- SharedCache -->
	<indexusNetSharedCache defaultProvider="IndexusSharedCacheProvider">
		<clientSetting SharedCacheVersionNumber="3.0.5.1"
		LoggingEnable="0"
		CompressionEnabled="1"
		CompressionMinSize="204800"
		HashingAlgorithm="Hashing"
		SocketPoolMinAvailableSize="5"
		SocketPoolValidationInterval="00:02:00"
		SocketPoolTimeout="00:02:00"/>
		<!--
			LoggingEnabled=0 로, CompressionEnabled=0 으로 할 것!!!!
		-->
		<!--
			Hashing (default - is useless if your environment is using different versions of CLR's)
			Ketama
			FvnHash32
			FvnHash64
		-->

		<!-- Distributed Cacheing : 여러 서버가 정보를 분산 저장한다. -->
		<servers>
			<add key="localhost" ipaddress="127.0.0.1" port="48888"/>
			<!--<add key="debop-64" ipaddress="121.134.189.70" port="48888" />-->
		</servers>

		<!-- Replication mode : 여러 서버가 같은 정보를 캐시한다. -->
		<replicatedServers>
			<!--<add key="debop-64" ipaddress="121.134.189.71" port="48888"/>-->
			<!-- Replication mode 일때만 정의해야 합니다.-->
			<!--<add key="debop-64" ipaddress="121.134.189.70" port="48888"/>-->
		</replicatedServers>

		<providers>
			<add name="IndexusSharedCacheProvider" type="SharedCache.WinServiceCommon.Provider.Cache.IndexusSharedCacheProvider, SharedCache.WinServiceCommon" />
		</providers>

	</indexusNetSharedCache>
	
</configuration>
